!!! 5
%html
  %head
    %title Skeleton Jigsaw
    %meta( charset="utf-8" )
    %link( rel="stylesheet" href="css/screen.css" )

  %body

    %h1
      %img( src="img/logo.png" alt="Skeleton Jigsaw" )

    %a( href="http://plaev.me/skel" )
      %img( src="img/play.png" alt="Play" )

    %article.story
      %h2 Story
      %p An evil sorcerer cast a spell on a noble soldier, turning him into an animated pile of bones with no memories. Through collecting several pieces of a magic jigsaw puzzle, the soldier is able to rebuild his memories and regain his humanity and abilities, by which he'll defeat the sorcerer and free the lands from his evil.

    %section.features
      .feature
        %h2 Cross-platform
        %p
          You can play the game in: <strong>Chrome</strong>, <strong>Safari</strong>, <strong>Firefox</strong>, <strong>Internet Explorer 9+</strong>, <strong>Opera</strong>, <strong>Mobile Safari</strong>, <strong>Chrome for Android</strong>, <strong>Dolphin</strong> and  <strong>Android's Default Browser</strong>.
      .feature
        %h2 About
        %p Skeleton Jigsaw started as a little prototype that we used to test frameworks, technologies and possibilities. After a while, we decided to invest more time on it and release a demo, so here it is!
      .feature
        %h2 Browser based
        %p
          %strong Skeleton Jigsaw
          was built with
          %a( href="http://impactjs.com/")> Impact
          , a HTML5 Canvas & JavaScript game engine. You can play the game in a vast number of browsers and devices, anywhere you go.

    %script( type="text/javascript" src="js/analytics.js" )
